

@import "bootstrap/scss/bootstrap";

/* 全体 */

.base-container {
 margin: 7%;
 padding: 30px;
 margin-right: auto;
 margin-left: auto;
 padding-left: 15px;
 padding-right: 15px;
}



/* max-width */

@each $breakpoint in map-keys($grid-breakpoints) {
 .mw-#{$breakpoint} {
   max-width: var(--breakpoint-#{$breakpoint});}
 }

div.text-card-container {
 padding-left: 9px;
 padding-right: 9px;
 margin-bottom: 50px;
}

div.content-card {
 height: 370px;
 max-width: 376px;
 margin: 0 auto;
}

.text-title{
 margin-top: 50px;
}
h1{
  text-align: center;
  font-size: 2rem;
  padding: 20px 0px 10px 0px;
}

/* フラッシュ */
.alert-notice {
 @extend .alert-success;
}
.alert-alert {
 @extend .alert-danger;
}
/* navbar */
.navbar-expand-lg {

}

.collapse {
width: 100px;
max-width: 1200px;
}

body {
   padding-top: 56px;

 }
 .navbar {
   background-color: #6699FF;
 }


/* 動画一覧ページ */

.movie-body {
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-title {
  margin-top: 1rem;
}
