/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

/* 全体 */

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}
div.text-card-container {
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 50px;
}

div.content-card {
  height: 370px;
  max-width: 376px;
  margin: 0 auto;
}

.text-title{
  margin-top: 30px;
}
h1{
  text-align: center;
}
