<%= link_to "読破済みにする", text_reads_path(text), method: :post, class: "btn btn-secondary btn-block", remote: true, data: {toggle: "modal", target: "#exampleModalCenter"} %>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">読破おつかれさまです！</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>『<%= text.title %>』を読破しました。</p>
      </div>
      <div class="modal-footer">
        <% if text.next.present? %>
        <%= link_to "次の教材にすすむ", text_path(text.next), class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>