<button type="button" class="btn btn-primary">Primary</button>
<h1>テキスト教材</h1>
<div class="container">
  <div class="row">
    
        <% @texts.each.with_index(1) do |text , i| %>
          <div class="col-12 col-md-6 col-lg-4 text-card-container">
            <div class="card content-card border-dark mb-3">
              <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> %>
              <div class="card-header p-0">
                <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
              </div>
              
                <div class="card-body">
                <p class="card-text txet-title">
                  <%= text.title %>
                </p>
                <p><%= text.genre %></p>
              </div>
            </div>
          </div>
        <% end %>
      
  </div>
</div>
<%= link_to "投稿一覧", texts_path, target: :_blank %>
