<%= markdown(@text.content) %>
<div id="text-<%= @text.id %>">
  <% if @text.read_by?(current_user) %>
    <%= render "read", text: @text %>
  <% else %>
    <%= render "disread", text: @text %>
  <% end %>
</div>