<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">やんばるエキスパート</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://localhost:3000/">テキスト教材<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="http://localhost:3000/users/edit ">新規登録</a>
      <a class="nav-item nav-link active" href="http://localhost:3000/users/sign_in">ログイン</a>
      
    </div>
  </div>
</nav>
